<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
    
<web-app>
 <servlet>   
  <servlet-name>BanChamps</servlet-name>
  <jsp-file>/BanChamps.jsp</jsp-file>
</servlet>
 <servlet>   
  <servlet-name>DuoqPartners</servlet-name>
  <jsp-file>/DuoqPartners.jsp</jsp-file>
</servlet>
 <servlet>   
  <servlet-name>ConnectTwo</servlet-name>
  <jsp-file>/ConnectTwo.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>BanChamps</servlet-name>
  <url-pattern>/BanChamps</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>DuoqPartners</servlet-name>
  <url-pattern>/DuoqPartners</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>ConnectTwo</servlet-name>
  <url-pattern>/ConnectTwo</url-pattern>
</servlet-mapping>

</web-app>